@import "tailwindcss";

.vr-section {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.vr-section video {
  object-fit: cover;
}
